.top-nav {
  align-items: center;
  background: grey;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 auto 0 auto;
  padding: 4px;
  width: 100%;
}

button {
  margin-right: 10px;
  width: 100px;
}
