<div class="top-nav">
  <a *ngIf="!(userDetails | async)" [routerLink]="'/signup'"
    ><button mat-raised-button>Register</button></a
  >
  <a *ngIf="!(userDetails | async)" [routerLink]="'/login'">
    <button mat-raised-button>Login</button>
  </a>
  <button mat-raised-button *ngIf="userDetails | async" (click)="logout()">
    Logout
  </button>
</div>
<div class="wrapper">
  <a
    [routerLink]="
      'book/cultivation-chat-group/chapter/chapter-799-the-smell-of-treasures'
    "
    >Cultivation Chat Group - Chapter 799</a
  >
</div>
