# release
release
release/**

# backend generated
backend/generated/.cargo
backend/generated/.openapi-generator
backend/generated/api
backend/generated/docs
backend/generated/examples
backend/generated/.gitignore
backend/generated/.openapi-generator-ignore
backend/generated/REDME.md

# server directories
backend/target
backend/database*

# ui directories
web-client/node_modules/
web-client/dist
web-client/dist-ssr
web-client/*.local
web-client/.angular
web-client/src/generated

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*.log
.favorites.json
/var/

# bazel
bazel-bin
bazel-grpc-template
bazel-out
bazel-testlogs
