<div class="wrapper">
  <h1>{{ type }}</h1>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input type="text" matInput [formControl]="username" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput [formControl]="password" />
  </mat-form-field>
  <div *ngIf="error | async as error">{{ error }}</div>
  <button
    mat-raised-button
    color="primary"
    [disabled]="disableSubmit | async"
    (click)="submit()"
  >
    {{ type }}
  </button>
</div>
