.wrapper {
  width: 800px;
  padding: 10px 0;
  border: 1px solid black;
  box-shadow: 0px 0px 30px -8px black;
  margin-inline: auto;
  margin-block: 24px;
}

.wrapper > * {
  padding-inline: 24px;
  margin-block: 10px;
}

.book-title {
  margin-top: 24px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.chapter-title {
  font-size: 24px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-block: 16px;
  background: #e8e8e8;
  padding-block: 10px;
}

.chapter-content {
  text-align: justify;
}

.chapter-content p {
  margin-bottom: 10px;
}

.chapter-content ::ng-deep img.emoji {
  width: 16px;
  height: 16px;
}

.section-end {
  background: #d7e7f5;
  height: 24px;
  border-radius: 8px;
}
